.App {
  margin: 0;
  padding: 0;
  background-size: cover;
}
.light {
  position: absolute;
  top: 20%;
  left: 20%;
  margin: 0;
  padding: 0 0;
  font-size: 6em;
  color: blue;
}

.light:hover {
  position: absolute;
  top: 50% 20%;
  left: 20%;
  margin: 0;
  padding: 0 0;
  font-size: 6em;
  color: red;
  filter: drop-shadow(0 10px blue);
}

.ok {
  position: absolute;
  top: 50%;
  left: 20%;
  margin: 0;
  padding: 0 0;
  font-size: 6em;
  color: red;
}

.ok:hover {
  position: absolute;
  top: 50% 20%;
  left: 20%;
  margin: 0;
  padding: 0 0;
  font-size: 6em;
  color: blue;
  filter: drop-shadow(0 10px red);
}